<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>SERVORUM</title>
    <link rel="stylesheet" href="./css/main.css">
  </head>
  <body>
    <div class="top">
      <div class="bar">
        <p class="title">Clasificador de Imágenes por Seleción Automática - SERVORUM</p>
        <div class="buttons">
          <i id="min">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
          </i>
          <i id="close">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
          </i>
        </div>
      </div> <!-- end BAR -->

      <div class="menu">

        <button id="save" onclick="guardar()">Guardar</button>

        <div class="centered">
          NOMBRE_DEL_ARCHIVO.MP4 <span class="separator">·</span> FRAME XXXX / XXXX
        </div>

      </div> <!-- end MENU -->
    </div> <!-- end TOP -->

    <div class="window">
    
      <div class="player">
        
        <div class="img">
          <!-- <img id="img" src="../images/0.jpg"> -->
          <canvas id="canvas"></canvas>
          <!-- o un canvas, hay que ver cómo puedo pillar las pos en las que se ha dado click -->
        </div>

        <div class="contols">
          <p class="txt-tag">SELECCIONA <span id="tag">DIANA(S)</span></p>
          <!-- <input id="pos" type="range" min="0" max="99" value="49" oninput="ir_a()"> -->
          <input id="pos" type="range" min="0" max="2" value="0" oninput="ir_a()">
        </div>

      </div>

    </div> <!-- end WINDOW -->

    <script src="../assets/jquery.min.js"></script>
    <script>
      require('../renderer.js');
    </script>
    <script>

      var pos = $('#pos'),
          pos_val = pos.val(),
          img = $('#img');

      var anterior;

      var canvas = document.getElementById('canvas');
      var context = canvas.getContext("2d");

      window.addEventListener('resize', resizeCanvas, false);

      function resizeCanvas() {
              canvas.width = window.innerWidth;
              canvas.height = window.innerHeight;

              /**
               * Your drawings need to be inside this function otherwise they will be reset when 
               * you resize the browser window and the canvas goes will be cleared.
               */

        var Marker = function () {
            this.Sprite = new Image();
            this.Sprite.src = "http://www.clker.com/cliparts/w/O/e/P/x/i/map-marker-hi.png"
            this.Width = 12;
            this.Height = 20;
            this.XPos = 0;
            this.YPos = 0;
        }

        var Markers = new Array();

        var mouseClicked = function (mouse) {
            // Get corrent mouse coords
            var rect = canvas.getBoundingClientRect();
            var mouseXPos = (mouse.x - rect.left);
            var mouseYPos = (mouse.y - rect.top);

            console.log("Marker added");

            // Move the marker when placed to a better location
            var marker = new Marker();
            marker.XPos = mouseXPos - (marker.Width / 2);
            marker.YPos = mouseYPos - marker.Height;

            Markers.push(marker);
        }

        // Add mouse click event listener to canvas
        canvas.addEventListener("mousedown", mouseClicked, false);

        var firstLoad = function () {
            context.font = "15px Georgia";
            context.textAlign = "center";
        }

        firstLoad();

        var main = function () {
            draw();
        };

        var draw = function () {
            // Clear Canvas
            context.fillStyle = "#000";
            context.fillRect(0, 0, canvas.width, canvas.height);
            // Map sprite
            var mapSprite = new Image();
            mapSprite.src = `../images/${pos_val}.jpg`;

            // Draw map
            // Sprite, X location, Y location, Image width, Image height
            // You can leave the image height and width off, if you do it will draw the image at default size
            // context.drawImage(
            //   mapSprite,
            //   (canvas.width / 2),
            //   (canvas.height / 2)
            // );
            context.drawImage(
              mapSprite,
              0,
              0,
              canvas.width,
              canvas.height
            );

            // Draw markers
            for (var i = 0; i < Markers.length; i++) {
                var tempMarker = Markers[i];
                // Draw marker
                context.drawImage(tempMarker.Sprite, tempMarker.XPos, tempMarker.YPos, tempMarker.Width, tempMarker.Height);

                // Calculate postion text
                var markerText = "x:" + tempMarker.XPos + ", y:" + tempMarker.YPos;

                // Draw a simple box so you can see the position
                var textMeasurements = context.measureText(markerText);
                context.fillStyle = "#666";
                context.globalAlpha = 0.7;
                context.fillRect(tempMarker.XPos - (textMeasurements.width / 2), tempMarker.YPos - 15, textMeasurements.width, 20);
                context.globalAlpha = 1;

                // Draw position above
                context.fillStyle = "#000";
                context.fillText(markerText, tempMarker.XPos, tempMarker.YPos);
            }
        };

        setInterval(main, (1000 / 30)); // Refresh 60 times a second

      }
      resizeCanvas();



      function ir_a() {
        pos_val = pos.val()
        console.log(pos_val);

        // img.attr('src', `../images/${pos_val}.jpg`);
        // var parent = img.parent()[0];
        
        // console.log(parent);
        // console.log(img);

        // // parent.html(`<img id="img" src="../images/${pos_val}.jpg">`);
        // $(parent).add('img').attr({"id": "img", "src": `../images/${pos_val}.jpg`});

        // img = $('#img');

        // console.log(`> Width___ ${img[0].width}\n> Height__ ${img[0].height}`);

      }

      ir_a();

    </script>
  </body>
</html>
